.contact{
    padding: 10% 0;
    display: none;
}
.contact-form{
    padding: 5% 2%;

    background: var(--paleta1-a);
    width: 90%;
    height: 100%;
    margin: auto;
}
.contact-form__component{
    width: 100%;
    margin-bottom: 20px;
}
.contact-form__label{
    padding: 10px;
    color: var(--paleta1-d);
    display: block;
    font-weight: bold;
}

.contact-form__input{
    width: 100%;
    padding: 20px 10px;
    border: none;
    outline: none;
    resize: none;
    color: var(--paleta1-c);
    font-weight: bold;
}
.contact-form__btn{
    outline: none;
    background:var(--paleta1-b);
    color: #fff;
    font-weight: bold;
    border: 1px solid transparent;
    padding: 10px 20px;
    width: 30%;
}

.contact-form__btn:hover{
    background:none;
    color:var(--paleta1-b);
    border-color: var(--paleta1-b);
} 

@media screen and (max-width:500px){
    .contact-form{
        padding: 5%;
        width: 95%;
    }
}