@import 'fonts-icons.css'; 
@import 'header.css';
@import 'welcome.css';
@import 'skills.css';
@import 'footer.css';
:root{
    --paleta1-a:hsl(223, 45%, 11%);
    --paleta1-b:#ff533d;
    --paleta1-c:#ab987a;
    --paleta1-d:#f6f6f6;


    --paleta2-a:#205765;
    --paleta2-b:#2a88b5;
    --paleta2-c:#37d9bf;
    --paleta2-d:#e6fdff;

    --monserrat : 'Montserrat', sans-serif;
    --rubik : 'Rubik', sans-serif;


    --titles: 5rem;
    --lh-titles: 6rem;
    --text:3rem;
    --lh-text:4rem;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Rubik Mono One', sans-serif; */
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--monserrat);
    font-size: 16px;
    background: #ecf0f3;
}
.projects{
    height: 100vh;
    text-align: center;
    display: none;
}
.open-section{
    display: block;
}
@media screen and (max-width:2000px){
    :root{
        --titles: 4rem;
        --lh-titles: 5rem;
        --text:2.5rem;
        --lh-text:3.5rem;
    }
}

@media screen and (max-width:1200px){
    :root{
        --titles: 3.5rem;
        --lh-titles: 4.5rem;
        --text:2rem;
        --lh-text:3rem;
    }
}

@media screen and (max-width:775px){
    :root{
        --titles: 3.3rem;
        --text:1.8rem;
        --lh-text:2.8rem;
    }
}
@media screen and (max-width:550px){
    :root{
        --titles: 2.5rem;
        --lh-titles: 3.5rem;
        --text:1.5rem;
        --lh-text:2.5rem;
    }
}

@media screen and (max-width:450px){
    :root{
        --titles: 2rem;
        --lh-titles: 3rem;
        --text:1.2rem;
        --lh-text:2rem;
    }
}