@import 'fonts-icons.css'; 
@import 'header.css';
@import 'welcome.css';
:root{
    --paleta1-a:#0f1628;
    --paleta1-b:#ff533d;
    --paleta1-c:#ab987a;
    --paleta1-d:#f6f6f6;


    --paleta2-a:#205765;
    --paleta2-b:#2a88b5;
    --paleta2-c:#37d9bf;
    --paleta2-d:#e6fdff;

    --monserrat : 'Montserrat', sans-serif;
    --rubik : 'Rubik', sans-serif;

    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Rubik Mono One', sans-serif; */
}
body{
    font-family: var(--monserrat);
    font-size: 16px;
}


