.skills{
    text-align: center;
    padding: 10% 0;
    width: 100%;
}
.skills__text{
    width: 80%;
    margin: auto;
}
.skills__box{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    justify-items: center;
}
.skills__title{
    font-size: var(--titles);
    color:var(--paleta1-b);
    margin: 10px;
    word-wrap: break-word;
    position: relative;
    text-align: center;
}
.skills__title:after{
    content: '';
    display: inline-block;
    position: absolute;
    top: -100%;
    width: 20%;
    left: 40%;
    height: 3px;
    background: var(--paleta1-b);

}
.skills__parrafo{
    color: var(--paleta1-c);
    line-height:var(--lh-text);
    font-size: var(--text);
    font-weight: 600;
}
.skills__card{
    box-shadow: 1px 1px 3px var(--paleta1-a);
    padding: 1rem;
    border-radius: 7px;
    max-width: 600px;
}
.skills__card-title{
    font-weight: 700;
    font-size: 2rem;
    margin: 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills__card-title a{
    color: var(--paleta1-c);
    text-decoration: none;
}
.skills__card-title a:hover{
    color: var(--paleta1-b);

}
.skills__card-progress{
    font-size: 2rem;
    margin: 2rem 0 1rem;
    font-weight: 700;
}
.progress-bar{
    width: 80%;
    height: 10px;
    border-radius: 10px;
    background: var(--paleta1-a);
    display: inline-block;
    position: relative;
}
.progress-bar:after{
    content: '';
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    width: 80%;
    height: 10px;
    background: var(--paleta1-c);
}
.progress-bar--css:after{
    width: 60%;
}
.progress-bar--js:after{
    width: 30%;
}
.skills__card-icon{
    font-size: 3rem;
    color: red;
}
.skills__card-text{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--paleta1-c);
}
@media screen and (max-width:440px){
    .skills__parrafo{
        text-align: justify;
    }
    .skills__text{
        width: 90%;
    }
    .skills__box{
        width: 95%;
    }
    .skills__card-title {
        font-size: 28px;
    }
    .skills__card-text{
        font-size: 1.1rem;
    }
}