/*                Welcome              */
.welcome{
    background: linear-gradient(rgb(0 0 0 / 60%),rgb(0 0 0 / 78%)), url(../img/welcome.jpg) no-repeat center/cover fixed;
    padding-bottom: 10%;
    height: 100vh;
    position: relative;
}
.welcome__box{
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome__title{
    color: var(--paleta1-d);
    font-size: var(--titles);
    text-align: center;
    line-height:var(--lh-titles);
    margin: 0;
}
.welcome__name{
    color: var(--paleta1-b);
}
.welcome__text{
    color: var(--paleta1-c);
    text-align: center;
    font-weight: 600;
    line-height:var(--lh-text);
    font-size: var(--text);
}
.welcome__resaltado{
    color: var(--paleta1-d);
}
.welcome__btn{
    color: var(--paleta1-d);
    background: var(--paleta1-b);
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 10px 20px;
    width: 30%;
    font-weight: 600;
    transition: all ease 1s;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
.welcome__btn:hover{
    background: none;
    border-color: var(--paleta1-b);
    color: var(--paleta1-b);
}

.wave{
    background: url(../img/wave.svg) no-repeat bottom;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
}
/*                Welcome              */

/*                MEDIA QUERIS              */
@media screen and (max-width:775px){
    .welcome{padding: 1rem;}
    .welcome__box{width: 90%;}
    .welcome__btn{width: 40%;}
}
@media screen and (max-width:550px){
    .welcome__box{width: 95%;}
    .welcome__text{text-align: justify;}
    .welcome__btn{
        margin-top: 2rem;
        width: 60%;
    }
}
@media screen and (max-width:450px){
    .welcome__box{width: 100%;}
    .welcome__title{ margin: 1rem  0;}
}
/*                MEDIA QUERIS              */


